<form action="/api/urls/" method="post" class="d-flex gap-4">
    <input placeholder="Valid URL" type="url" name="url" id="url" class="form-check form-control">
    <input type="submit" value="Generate" class="btn btn-primary">
</form>