<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Shorten</title>
</head>
<body class="my-4" style="background-color: #212529; color: #fff;">
    <div class="container">
        <%- include("header") %>
        <main class="container px-5 ">
            <%- include("form") %>
        </main>
        <%- include("allUrls") %>
    </div>
</body>
</html>